
.mainBar {
  padding: 10px;
}
.logo {

  img {
    width: 85%;
  }
  :hover {
    //-webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.35));
    filter: drop-shadow(var(--background-hover-shadow));
    cursor: pointer;
  }
  :focus {
    outline: 0 !important;
  }
}

.navbar {
  margin: 30px;
  align-self: center;
  height: 68px;
  border: 1px solid var(--text-primary);
  border-radius: 20px;
  //background-color: $primary-bg;
  background-color: var(--background-secondary);
}
.isikud,
.dokumendid,
.toimikud,
.ajaarvestus,
.user-panel {
  width: 100%;
  //background-color: yellow;
  height: 30px;
  box-shadow: inset 6px 0px 3px -5px var(--background-secondary);
  transform: skewX(-35deg);
  padding-left: 3%;
  border-left: 1px solid var(--text-grey);

  //margin-top: 15px;
  //margin-bottom: 15px;
  //background-color: yellow;
  //overflow:hidden;

  a {
    color: var(--text-primary);
    text-decoration: none;
    width: 100%;
    h4 {
      margin: 0px;

      //color: $primary-blue;
      //margin-left: 35%;
      transform: skewX(35deg);
      @media (max-width: 850px) {
        font-size: 16px;
  
      }
    }
  }
  :hover {
    cursor: pointer;
    color: var(--text-primary);
    //font-weight: bold;
    text-shadow: var(--background-hover-shadow);
  }
}
.user-panel {
  display: inline-block;
  // display: inline-flex;
  // justify-content: flex-end;
  mat-icon {
    margin-right: 20px;
    transform: skewX(35deg);
    font-size: 30px;
  }
  mat-slide-toggle{    
    transform: skewX(35deg);
    mat-icon{
      transform: skewX(0);
    }
  }
  mat-button {
    width: 120px; 

  }

}
.toggle{
  margin-top: 5px;
}
.actionbar {
  margin-right: 20px;
  //background-color: red;
}
.active {
  border-bottom: 4px solid #1de9b696;
  :hover {
    text-shadow: none;
  }
}


::ng-deep .mat-slide-toggle-thumb-container, .mat-slide-toggle-thumb-container, .mat-slide-toggle-thumb, .mat-slide-toggle-ripple mat-ripple, mat-slide-toggle{
  :hover{
    cursor: pointer;
  }
  cursor: pointer;
}
