<div class="dashboard" fxLayout="row" fxLayoutAlign="space-between start">
  <table>
    <thead>
      <tr>
        <td>Ülesanded</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form [formGroup]="form">
          <mat-form-field *ngIf="isAddTask" >
            <input matInput placeholder="Ülesanne" formControlName="toDoTask" id="toDoTask" name="toDoTask" required>
            <mat-error>Täida väli</mat-error>
          </mat-form-field>
        </form>
          <mat-icon *ngIf="!isAddTask" (click)="openAddTask()" class="icon">add</mat-icon>
          <mat-icon color="accent" *ngIf="isAddTask" (click)="openAddTask()" class="icon">save</mat-icon>
          <mat-icon color="accent" *ngIf="isAddTask" (click)="closeAddTask()" class="icon">clear</mat-icon>
        </td>
      </tr>
      <tr *ngFor="let item of dataSource1; let i = index">
        <td>
          <mat-checkbox class="checkBox" [checked]="item.isDone"></mat-checkbox>
          {{item.Task}}

        </td>
      </tr>

    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <td class="kalender">Kalender <a (click)="openDialog()">
            <mat-icon>calendar_today</mat-icon>
          </a></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of calendarData">

        <td>
          <h5>{{item.eventDate | date:'MMMM d'}}</h5>

          <p><span>{{item.eventDate | date:'hh:mm '}} </span> {{item.task}}</p>
        </td>
      </tr>

    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <td>Käimas olevad tööd</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="">
        <td>
          
        </td>
      </tr>

    </tbody>
  </table>
</div>