.timerContainer{
    position: absolute;
    top: 450px;
    right: 0;
    //bottom: 50px;
}


.clockIcon{
    width: 65px;
    text-align: left;
    display: block;
    border-radius: 15px;
    margin-right: -15px;
    

    background-color: var(--calendar-bg);
    mat-icon{
        margin-top: 10px;
        display: inline-block;      
        font-size: 50px;
        color: var(--valid);
    }
    
}
.extendedView{
    width: 400px;
    height: 180px;
    padding: 15px;
    background-color: var(--calendar-bg);
    button{
         border: solid 1px var(--calendar-primary);
         padding: 0 10px 0 10px;
    }
       
    

}
