:host{
    display: block;
    left: 0;
    font-size: 12px;
}

.otsing{
    color: var(--text-primary);
    height: 20px;
    mat-form-field{
        input{
            font-size: 20px;
        }
    }
    }

.lable {
    color: red;
    font-size: 12px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.3em 0px;}
.mat-form-field-empty.mat-form-field-label {
    color: green;
}

